{% extends "groups/group_base.html"%}
{%block pregroup%}
<div class="col-md-4">
  <div class="content">
    {%if user.is_authenticated %}
    <h2>Welcome back
     <a href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a>
    </h2>
    {%endif%}
    <h1><strong>Groups</strong></h1>
    <p>Welcome to groups page!</p>
   </div>
     {%if user.is_authenticated %}
     <a href="{% url 'groups:create'%}" class="btn btn-success btn-primary btn-lg">
     <span class="glyphicon glyphicon-plus-sign">Create New Group</span>
     </a>
     {%endif%}
</div>
{%endblock%}
{%block group_content%}
<div class="col-md-8">

    {%for group in object_list%}
    <div class="list-group">
      <a href="{% url 'groups:single' slug=group.slug %}">
      <h1><strong>{{group.name}}</h1></strong>  </a>
      <div class="list-group-item-text container-fluid">
        {{group.description_html|safe}}
      <div class="row ">
        <div class="col-md-6">
          <span class="badge">{{group.members.count}}</span>
          Member{{group.members.count|pluralize}}
        </div>
        <div class="col-md-6">
          <span class="badge">{{group.posts.count}}</span>
          Message{{group.posts.count|pluralize}}
        </div>
      </div>
    </div>
  </div><br>
    {%endfor%}

</div>
{%endblock%}
